/Techlink-TLMS-master/WindowsFormsApplication1/WindowsFormsApplication1/obj
/Techlink-TLMS-master/WindowsFormsApplication1/WindowsFormsApplication1/bin
/Techlink-TLMS-master/WindowsFormsApplication1/UploadDataToDatabase/bin
/Techlink-TLMS-master/WindowsFormsApplication1/UploadDataToDatabase/obj
