<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="EFSOFTModel" connectionString="data source=FS-35686\SQLEXPRESS;initial catalog=ERPSOFT;persist security info=True;user id=dnmdev;password=toluen;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>